*{
    margin: 0;
    padding: 0; box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.container{
    background-color: white;
    color: black;
    font-size: 26px;
    margin-top: 15rem;
    border-radius: 10px;
    padding: 30px 30px;
}
h1{
    padding: 10px;
}
p{
    padding:10px;
}